<%= render "/navbar" %>

<h1>Create a New Post</h1>

<%= form_with model: @post do |form| %>
  <%= form.label "Title:" %>
  <%= form.text_field :title %><br><br>
  <%= form.label "Body:" %>
  <%= form.text_area :body %><br><br>
  <%= form.submit "Create Post" %>
<% end %>
<br>